.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*  -------------------------------------------- */

.Heading {
  font-size: 20px;
  height: 100px;
  text-shadow: 3px 3px 3px #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ButtonContainer {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ButtonContainer button {
  width: 27%;
  padding: 20px 0;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.ButtonContainer button:hover {
  background-color: lightblue;
}

.ContentShow {
  width: 100%;
  height: 50%;
  position: relative;
}

.inner-content-left {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-content-right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Component {
  border: 2px solid black;
  width: 400px;
  height: 250px;
  padding: 10px;
  background-color: #FFFCDC;
  border-radius: 20px;
  cursor: default;
}